<link rel="import" href="../../bower_components/polymer/polymer-element.html">

<dom-module id="frontproyecto-app">
  <template>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

   <style>
      :host {
        display: block;
        all: initial;
      }

      .redbg {
        background-color: red;
      }

      .greenbg {
        background-color: green;
      }

      .bluebg {
        background-color: blue;
      }

      .greybg {
        background-color: grey;
      }
    </style>

    <!-- <h2>Hello [[prop1]]!</h2>
    <h2> Soy [[first_name]] [[last_name]]</h2>
    <h3> y tengo [[age]] años</h3>

    <input type="text" value="{{first_name::input}}"/>
    <input type="range" min="19" max="99" value="{{age::input}}"/> -->

    <div class="row greybg">
      <div class="col-2 col-sm-1 offset-3 redbg">Col Red</div>
      <div class="col-3 col-sm-1 offset-1 greenbg">Col Green</div>
      <div class="col-4 col-sm-1 offset-1 bluebg">Col Blue</div>
    </div>

    <button class="btn btn-primary">Login</button>
    <button class="btn btn-secondary">Logout</button>
    <button class="btn btn-success">Login</button>
    <button class="btn btn-info">Logout</button>
    <button class="btn btn-danger">Login</button>
    <button class="btn btn-warning">Logout</button>
    <button class="btn btn-light">Login</button>
    <button class="btn btn-dark">Logout</button>
    <button class="btn btn-light btn-lg">Login</button>
    <button class="btn btn-dark btn-sm">Logout</button>

  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class FrontproyectoApp extends Polymer.Element {
      static get is() { return 'frontproyecto-app'; }
      static get properties() {
        return {
          prop1: {
            type: String,
            value: 'Undo'
          },
          first_name: {
            type: String
          },
          last_name: {
            type: String
          },
          age: {
            type: Number
          }
        };
      }
    }

    window.customElements.define(FrontproyectoApp.is, FrontproyectoApp);
  </script>
</dom-module>
