<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="login-usuario">
  <template>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <style>
      :host {
        display: block;
      }
    </style>

    <form>
      <div class="form-group col-4">
        <label for="exampleInputEmail1">Email address</label>
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email" value="{{email::input}}">
        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
      </div>
      <div class="form-group col-4">
        <label for="exampleInputPassword1">Password</label>
        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" value="{{password::input}}">
      </div>
      <!-- <div class="form-group form-check col-4">
        <input type="checkbox" class="form-check-input" id="exampleCheck1">
        <label class="form-check-label" for="exampleCheck1">Check me out</label>
      </div> -->
      <button type="button" class="btn btn-primary" on-click="login">Login</button>
    </form>

    <span hidden$="{{!isLogged}}">
      Bienvenido de nuevo!!1
    </span>

    <iron-ajax
      id="doLoginUser"
      url="http://localhost:3000/apitechu/v2/login"
      method="POST"
      handle-as="json"
      content-type="application/json"
      on-response="manageAJAXResponse"
      on-error="showError"
    >

  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class LoginUsuario extends Polymer.Element {
      static get is() { return 'login-usuario'; }
      static get properties() {
        return {
          password: {
            type: String
          },
          email: {
            type: String
          },
          isLogged: {
            value: false,
            type: Boolean
          }
        };
      }

      login() {
        console.log("login");

        var loginData = {
          "email": this.email,
          "password": this.password
        };

        this.$.doLoginUser.body = JSON.stringify(loginData);
        this.$.doLoginUser.generateRequest();
      }

      manageAJAXResponse(data){
        console.log("Llegaron los resultados de la API");
        console.log(data.detail.response);
        this.isLogged = true;
        window.location = "user/" + data.detail.response.idUsuario;
      }

      showError(error) {
        console.log("Ha habido un error");
        console.log(error);
      }

    }

    window.customElements.define(LoginUsuario.is, LoginUsuario);
  </script>
</dom-module>
