<link rel="import" href="../../bower_components/polymer/polymer-element.html">

<dom-module id="receptor-evento">
  <template>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <style>
      :host {
        display: block;
      }
    </style>
    <div class="jumbotron">
        <h1> Soy el receptor :) </h1>
        <h3> Este curso es: {{course}} </h3>
        <h3> y estamos en el año: {{year}} </h3>
        <input type="text" value="{{course::input}}"> </input>
    </div>
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
     class ReceptorEvento extends Polymer.Element {
      static get is() { return 'receptor-evento'; }
      static get properties() {
           return {
               course: {
                   type: String,
                   observer: '_courseChanged'
               },
               year: {
                   type: String
               }
           };
      }

      _courseChanged(newValue, oldValue){
          console.log("El valor de course ha cambiado");
          console.log("El valor nuevo: " + newValue);
          console.log("El valor viejo: " + oldValue);
      }
    }

    window.customElements.define(ReceptorEvento.is, ReceptorEvento);
  </script>
</dom-module>
