<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">

<dom-module id="visor-cuentas">
  <template>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <style>
      :host {
        display: block;
      }
    </style>




    <h2> Listado de cuentas: </h2>
    <ul class="list-group">

    <div class="list-group">
      <template is="dom-repeat" items="{{accounts}}">
          <a href="#" class="list-group-item list-group-item-action flex-column align-items-start col-6">
            <div class="d-flex w-100 justify-content-between">
              <h5 class="mb-1">[[item.IBAN]]</h5>
              <small>(IBAN)</small>
            </div>
            <p class="mb-1">El saldo mágico que tiene tu cuenta es: [[item.balance]] $_$</p>
          </a>
      </template>
    </div>


    <iron-ajax auto
      id="getAccounts"
      url="http://localhost:3000/apitechu/v2/users/{{user_id}}/accounts"
      handle-as="json"
      on-response="showData"
    >

  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class VisorCuentas extends Polymer.Element {
      static get is() { return 'visor-cuentas'; }
      static get properties() {
        return {
          IBAN: {
            type: String
          },
          user_id: {
            type: String
          },
          balance: {
            type: Number
          },
          accounts: {
            type: Array,
          }
        };
      }

      showData(data){
        console.log("showData");

        this.IBAN=data.detail.response[0].IBAN;
        this.balance=data.detail.response[0].balance;
        this.accounts=data.detail.response;
      }

    }

    window.customElements.define(VisorCuentas.is, VisorCuentas);
  </script>
</dom-module>
