<link rel="import" href="../../bower_components/polymer/polymer-element.html">

<dom-module id="emisor-evento">
  <template>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <style>
      :host {
        display: block;
      }
    </style>
    <div class="jumbotron">
        <h3> Soy el emisor :) </h3>
        <button on-click="sendEvent" class="jumbotron">Cuidado. No pulsar</button>
    </div>
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
     class EmisorEvento extends Polymer.Element {
      static get is() { return 'emisor-evento'; }
      static get properties() {
           return {};
      }

      sendEvent(e){
        console.log("Se ha pulsado el boton correcto.");
        console.log(e);

        this.dispatchEvent(
          new CustomEvent(
            "myevent",
            {
              "detail" : {
                "course": "TechU",
                "year": 2018
              }
            }
          )
        )
      }
    }

    window.customElements.define(EmisorEvento.is, EmisorEvento);
  </script>
</dom-module>
