<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../emisor-evento/emisor-evento.html">
<link rel="import" href="../receptor-evento/receptor-evento.html">


<dom-module id="gestor-evento">
  <template>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <style>
      :host {
        display: block;
      }
    </style>
    <h1 class="jumbotron"> Soy el gestor :) </h1>
    <!-- <button on-click="sendEvent" class="jumbotron">Cuidado. No pulsar</button> -->

    <emisor-evento on-myevent="processMyEvent"></emisor-evento>
    <receptor-evento id="prueba" ></receptor-evento>

  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class GestorEvento extends Polymer.Element {
      static get is() { return 'gestor-evento'; }
      static get properties() {
        return {};
      }

      processMyEvent(e) {
          console.log("Habemus evento");
          console.log(e);
          console.log(e.detail);

          this.$.prueba.course = e.detail.course;
          this.$.prueba.year = e.detail.year;
      }
    }

    window.customElements.define(GestorEvento.is, GestorEvento);
  </script>
</dom-module>
